{% extends 'base.html' %}
{% block description %}Города мира, world's cities. {% endblock %}
{% block keywords %}Города мира, world's cities, {% endblock %}
{% block title %}Города мира - HTML5 Canvas map{% endblock %}
{% block script %}
<style type="text/css">html,body,table{overflow:hidden;margin:0;padding:0;width:100%;height:100%}</style>
<style type="text/css">dd{cursor:default; border:2px transparent solid} dd:hover{border:2px red solid}</style>
<script type="text/javascript" src="/media/js/proj4js-combined.js"></script>
<script type="text/javascript" src="/media/js/dbcarta.js"></script>
<script type="text/javascript" src="/media/js/data/citiesd.js"></script>
<script type="text/javascript" src="/media/js/data/imgmap.js"></script>
<script type="text/javascript" src="/media/js/src/cities.inc.js"></script>{% endblock %}
