{% extends 'base.html' %}
{% block description %}Страны мира. {% endblock %}
{% block keywords %}страны мира, {% endblock %}
{% block title %}World's Countries - HTML5 Canvas map{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/proj4js-combined.js"></script>
<script type="text/javascript" src="/media/js/dbcarta.js"></script>
<script type="text/javascript" src="/media/js/demodata/continents.js"></script>
<script type="text/javascript" src="/media/js/demodata/countriesd.js"></script>
<script type="text/javascript" src="/media/js/demodata/flags.js"></script>
<script type="text/javascript" src="/media/js/demos/countries.inc.js"></script>{% endblock %}
