{% extends 'base.html' %}
{% block description %}Карта метро, Схема метро Москвы, mosmetro. {% endblock %}
{% block keywords %}Карта метро, Схема метро Москвы, mosmetro, {% endblock %}
{% block title %}Карта метро Москвы - HTML5 Canvas map{% endblock %}
{% block style %}<style type="text/css">html,body,table{overflow:hidden;margin:0;padding:0;width:100%;height:100%}</style>{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/dbcarta.js"></script>
<script type="text/javascript" src="/media/js/data/mosmetro.js"></script>
<script type="text/javascript" src="/media/js/data/mosmetro_info.js"></script>
<script type="text/javascript" src="/media/js/data/imgmap.js"></script>
<script type="text/javascript" src="/media/js/src/mosmetro.inc.js"></script>{% endblock %}
