{% extends 'base.html' %}
{% load i18n %}
{% block title %}dbCartajs - HTML5 Canvas map - Starry Sky Demo{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/proj4js-combined.js"></script>
<script type="text/javascript" src="/media/js/dbcarta.js"></script>
<script type="text/javascript" src="/media/js/demodata/continents.js"></script>
<script type="text/javascript" src="/media/js/demodata/stars.js"></script>
<!--script type="text/javascript" src="/media/js/demodata/stars_tycho.js"></script-->
<script type="text/javascript" src="/media/js/demodata/tledata.js"></script>
<script type="text/javascript" src="/media/js/utils/starry.js"></script>
<script type="text/javascript" src="/media/js/sgp4/satellite.js"></script>
<script type="text/javascript" src="/media/js/demos/starry.inc.js"></script>
{% endblock %}