{% extends 'base.html' %}
{% load i18n %}
{% block title %}dbCartajs - HTML5 Canvas map - Use Map Demo{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/proj4js-combined.js"></script>
<script type="text/javascript" src="/media/js/dbcarta.js"></script>
<script type="text/javascript" src="/media/js/demodata/countries.js"></script>
<script type="text/javascript" src="/media/js/demodata/citiesd.js"></script>
<script type="text/javascript" src="/media/js/demos/usemap.inc.js"></script>
{% endblock %}