{% extends 'base.html' %}
{% block description %}Страны мира, isPointInPath, highmaps. {% endblock %}
{% block keywords %}Страны мира, isPointInPath, highmaps, {% endblock %}
{% block title %}Активные области, страны мира - HTML5 Canvas map{% endblock %}
{% block style %}<style type="text/css">html,body,table{overflow:hidden;margin:0;padding:0;width:100%;height:100%}</style>{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/proj4js-combined.js"></script>
<script type="text/javascript" src="/media/js/dbcarta.js"></script>
<script type="text/javascript" src="/media/js/data/countries.js"></script>
<script type="text/javascript" src="/media/js/data/countries_info.js"></script>
<script type="text/javascript" src="/media/js/data/citiesd.js"></script>
<script type="text/javascript" src="/media/js/src/usemap.inc.js"></script>{% endblock %}
