<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="description" content="{% block description %}{% endblock %}Карта-Навигатор с проекциями Proj4js. HTML5 Canvas map with some Proj4js projections. Pure javascript and serverless"/>
<meta name="keywords" content="{% block keywords %}{% endblock %}html5, canvas, 2d, proj4js, projection, javascript, dbcarta, map" />
<meta name="google-site-verification" content="tDIIwt3nNSOeRwaSbOPKjWIuVvKvi6E7YCLV_WOnCqE" />
<title>{% block title %}{% endblock %}</title>
<link rel='shortcut icon' href='/media/img/fav.ico?1422400155' />{% block script %}{% endblock %}
{% block style %}{% endblock %}
</head>
<body onload="if ('init' in window) init();">{% block content %}{% endblock %}</body>
</html>